# The app reads the Collection from the "collection" folder of the project by default.
# That folder is gitignored. To use a different folder, copy this file to .env.local
# and set the absolute path of the Collection there.
# COLLECTION_PATH=/Users/you/Notes
